.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Center the content */
    margin-top: 100px;
}

label, input {
    display: block;
    margin: 0 auto; /* Center the labels and inputs */
    width: 80%; /* Adjust the width as needed */
}

.update-button, .back-button {
    display: inline-block;
    margin: 0 10px; /* Add space between buttons */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}